{% extends 'blogs/base.html' %}
{% load static %}

{% block title %}Blogs{% endblock title %}

{% block content %}
    <body>
    <!-- pre loader -->
    <div id="load">
        <div class="load__content">
            <div class="load__icon"><img src="{% static 'blogs/assets/images/icons/load.gif' %}" alt="Loading icon"/>
            </div>
        </div>
    </div>
    <!--Nav bar -->
    <!-- main content starts here -->
    <div class="no-pd" id="content">
        <div class="container">
            <div class="breadcrumb">
                <ul>
                    <li><a href="{% url 'main' %}"> <i class="fas fa-home"></i>Home</a></li>
                    <li><a href="{% url 'blogs' %}">Blog</a></li>
                    <li class="active"><a href="#">Category</a></li>
                </ul>
            </div>
            <div class="category">
                <div class="row">
                    <div class="col-12 col-md-5 col-lg-4 order-md-2">
                        <div class="blog-sidebar">
                            <div class="blog-sidebar-section -category">
                                <div class="center-line-title">
                                    <h5>Categories</h5>
                                </div>
                                <!--Category 1::Background Image size is 340 x 80   -->
                                {% for category in categories %}
                                    <a class="category -bar " href="{% url 'blogs' %}?category={{ category.slug }}">
                                        <div class="category__background"
                                             style="background-image: url({{ category.image.url }})"></div>
                                        <h5 class="title">{{ category.name }}</h5>
                                        <h5 class="quantity">{{ category.blog_set.count }}</h5></a>
                                {% endfor %}
                            </div>
                            <div class="blog-sidebar-section -trending-post">
                                <div class="center-line-title">
                                    <h5>Trending post</h5>
                                </div>
                                <!--Trending Post 1 -->
                                {% for trending_post in trending_posts|slice:5 %}
                                    <div class="trending-post">
                                    <div class="trending-post_image">
                                        <div class="rank">{{ forloop.counter }}</div>
                                        <!--Img size is 100 x 100 -->
                                        <img src="{{ trending_post.image.url }}"/>
                                    </div>
                                    <div class="trending-post_content">
                                        <!-- Category Header -->
                                        <h5>{{ trending_post.category.first }}</h5>
                                        <a href="{% url 'post_detail' trending_post.slug %}">{{ trending_post.title }}</a>
                                        <div class="info__time"><i class="far fa-clock"></i>
                                            <p>{{ trending_post.created_at }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-7 col-lg-8 order-md-1">
                        {% if category_slug %}
                            <div class="category__header">
                                <div class="category__header__text">
                                    <h5>Categories:</h5>
                                    <a href="">{{ category_slug.name }}</a>
                                </div>
                                <div class="category__header__filter">
                                </div>
                            </div>
                        {% endif %}
                        <div class="category_content"></div>
                        <div class="col-12">
                            {% for post in posts %}
                                <div class="post-card -small -horizontal">
                                    <a class="card__cover" href="{% url 'post_detail' post.slug %}" tabindex="0"><img
                                            src="{{ post.image.url }}" alt=""></a>
                                    <div class="card__content">
                                        <h5 class="card__content-category">{{ post.category.first }}</h5>
                                        <a class="card__content-title" href="{% url 'post_detail' post.slug %}"
                                           tabindex="0">{{ post.title }}</a>
                                        <div class="card__content-info">
                                            <div class="info__time"><i class="far fa-clock"></i>
                                                <p>{{ post.created_at }}</p>
                                            </div>
                                            <div class="info__comment"><i class="far fa-comment"></i>
                                                <p>{{ post.comment_set.count }}</p>
                                            </div>
                                        </div>
                                        <p class="card__content-description">{{ post.description|striptags|truncatechars:120 }}</p>
                                    </div>
                                </div>
                                <br><br>
                            {% endfor %}
                        </div>
                        <!-- <div class="pagination">
                            <ul>
                                <li class="active"><a href="javascript:void(0)">1</a></li>
                                <li class="pagination__page-number"><a href="javascript:void(0)">2</a></li>
                                <li class="pagination__page-number"><a href="javascript:void(0)">3</a></li>
                                <li><a class="next" href="javascript:void(0)">></a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer starts Here -->
    </div>
    </body>
{% endblock content %}
