{% extends 'blogs/base.html' %}
{% load static %}

{% block title %}Contact{% endblock title %} 

{% block content %}
<body>
  <!-- pre loader -->
   <div id="load">
    <div class="load__content">
      <div class="load__icon"><img src="{% static 'blogs/assets/images/icons/load.gif' %}" alt="Loading icon"/></div>
    </div>
  </div>
    <!-- Main content starts here -->
    <div class="no-pd" id="content">
        <div class="container">
              <div class="breadcrumb">
                <ul>
                  <li><a href="index.html"> <i class="fas fa-home"></i>Home</a></li>
                  <li class="active"><a href="#">Contact us</a></li>
                </ul>
              </div>
          <div class="contact-us">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="contact-us__info">
                  <h3 class="contact-title">GET IN TOUCH</h3>
                  <p class="contact-description">{{ about.about }}</p>
                  <div class="contact-method">
                    <div class="contact-method__item">
                      <p>{{ about.address }}</p>
                    </div>
                    <div class="contact-method__item">
                      <p>{{ about.phone }}</p>
                    </div>
                    <div class="contact-method__item">
                      <p>{{ about.email }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="contact-us__form">
                  <h3 class="contact-title">LEAVE A MESSAGE</h3>

                  <div style="color: green;">
                    {% for message in messages %}
                      <p>{{ message }}</p>
                    {% endfor %}
                  </div>

                  <br>

                  <form method="POST" action="{% url 'contact' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" placeholder="Name" name="name"/>
                    <input type="email" placeholder="Email" name="email"/>
                    <input type="text" placeholder="Website" name="website"/>
                    <textarea name="message" cols="30" rows="8" placeholder="Message"></textarea>
                    <button class="btn -normal" type="submit">Send message</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  </body>
{% endblock content %}
  
