<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Activation Success</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            margin: 50px;
        }

        h2 {
            color: #008080;
        }

        p {
            color: #333;
        }

        a {
            color: #008080;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h2>Account Activation Success</h2>
    <p>Your account has been successfully activated!</p>
    <p>You are now logged in. <a href="{% url 'main' %}">Continue to the main page</a>.</p>
</body>
</html>