{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{% static 'blogs/css/confirm_style.css' %}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirm Email</title>
</head>
<body>
    <div class="c-input">
        <input type="text" placeholder="Confirm Your Email" name="confirm_email"><br><br>
        <button type="submit">submit</button>
    </div>
</body>
</html>